* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}

.title {
  border: 1px solid black;
  margin: 20px 10%;
  padding: 10px;
}

.title p {
  text-align: justify;
}

.custom-image {
  object-fit: cover;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.8
  ); /* Adjust the opacity by modifying the last parameter */
}

.category img {
  /* width: 50px !important; */
  height: 250px !important;
}
.social i {
  font-size: 20px;
  padding: 10px;
}

footer p a {
  color: white;
}

@media (max-width: 550px) {
  .custom-image {
    height: 600px;
  }
}

@media (min-width: 551px) {
  .custom-image {
    height: 250px;
  }
}
