* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}

.intro-img img {
  object-fit: cover;
  width: 100%;
}

.text,
.collection .card-text {
  text-align: justify;
}

.collection h5 {
  text-transform: uppercase;
}

.collection img {
  height: 250px !important;
}

.collection a {
  text-decoration: none;
  color: black;
}
.carousel-inner img {
  width: 100% !important;
  height: 50vh !important;
}

.choose {
  background-color: #efd897;
  padding: 40px 30px;
}

.story {
  background-color: #333333;
  padding: 40px 30px;
  color: white;
}

.choose h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.story h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.choose p,
.story p {
  text-align: justify;
  text-transform: capitalize;
}

.social i {
  font-size: 20px;
  padding: 10px;
}

footer p a {
  color: white;
}

@media (max-width: 550px) {
  .choose h3 {
    margin: 10px 20%;
  }

  .story h3 {
    margin: 10px 33%;
  }
}

@media (min-width: 551px) {
  .choose h3 {
    margin: 10px 35%;
  }

  .story h3 {
    margin: 10px 40%;
  }
}
